/*https://github.com/4r1ss*/
body{
	
	user-select: none;
	background-color: #000000;
}


#title-bar {
	position: fixed;
	background: linear-gradient(to right, #b3b3b3 0%, #9a9a9a 100%);
	
  	top:0px;
  	right:0px;
	left:0px;
	-webkit-app-region: drag;
	height: 30px;
	padding: none;
	margin: 0px;
  }
  
  #title {
	position: fixed;
	top: 0px;
	left: 6px;
  }
  
  #title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 10px;
  }
  
  
  

.minimize{
	outline: none;
	filter: brightness(85%);
	border: none;
	background-color: #FFBD44;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
}
.maxRes{
	border: none;
	outline: none;
	filter: brightness(85%);
	background-color: #00CA4E;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
}
.close{
	border: none;
	outline: none;
	filter: brightness(85%);
	background-color: #FF605C;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
}
.minimize:hover{
	border: none;
	filter: brightness(85%);
	border-color: none;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
	background-color: #b5852d;
}
.maxRes:hover{
	border: none;
	filter: brightness(85%);
	border-color: none;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
	background-color: #00a13e;
}
.close:hover{
	border: none;
	filter: brightness(85%);
	border-color: none;
	height: 20px;
	width: 20px;
	line-height: 30px;	
	border-radius: 50%;
	background-color:  #b34341;
}
.githubH2{
	color: #ffffff;  
	text-align: center;
	user-select:text;
	margin: auto;
  	width: 640px; 
  	padding: 50px;
  	font-family: 'Lexend Deca', sans-serif; 
}
.githuba{
	background-color: #9a9a9a;
	color: rgb(0, 0, 0);
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	cursor:help;
  }
